* {
    text-align: center;
}

meter {
    height: 40px;
    width: 100px;
}

.hide {
    display: none;
}

ul {
    list-style-type: none;
    display: flex;
}

li img {
    width: 80%;
    height: auto;
}

.animal h2 {
    font-family: "Hannotate SC";
}

.animal img {
    width: 25%;
    height: auto;
}

.addFood {
    animation-name: imageAnime;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    position: relative;
}

@keyframes imageAnime {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.9;
        bottom: 5px;
    }

    40% {
        opacity: 0.7;
        bottom: 10px;
    }

    60% {
        opacity: 0.5;
        bottom: 15px;
    }

    80% {
        opacity: 0.3;
        bottom: 20px;
    }

    100% {
        opacity: 0;
    }
}

button {
    appearance: none;
    border: 0;
    border-radius: 10px;
    background: rgb(248, 211, 217);
    color: orange;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 900;
}